<div class="container mt-4 bg-dark">
    <div class="row mb-3">
        <h1>Pago en Efectivo</h1>
    </div>

    <div class=" row">

        <div class="col">
            <form [formGroup]="formularioEfectivo" (submit)="onSubmit()">
                <div class="col-4">
                    <div class="input-group w-100" data-bs-theme="dark">
                        <span class="input-group-text">Monto a Abonar</span>
                        <input type="number" placeholder="Monto" class="form-control" formControlName="monto">
                    </div>
                </div>
                <div *ngIf="this.formularioEfectivo.controls['monto'].errors?.['required']" class="row">
                    <div class="col-8 text-danger"> Este campo es obligatorio.</div>
                </div>
                <div *ngIf="this.formularioEfectivo.controls['monto'].errors?.['min']" class="row">
                    <div class="col-8 text-danger">El monto minimo debe ser de {{ montoMinimo }}</div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-3">
                        <button class="btn btn-success" type="submit" (click)="onSubmit()" routerLink="/pedido-realizado" [disabled]="!formularioEfectivo.valid">Confirmar</button>
                    </div>
                </div>
            </form>




        </div>

    </div>



    <br>
</div>