thead,
tbody {
    color: #fff
}

.input-container {
    position: relative;
}

.input-container .alert {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    width: 100%
}

.input-container .alert.show {
    display: block;
}

.general {
    background-color: #0D3B66;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);
    ;
}