<div class="container mt-4">
    <div class="d-flex justify-content-center row">
        <h1 class="d-flex justify-content-center">Mc Donald's</h1>
    </div>
    <hr>
    <div class=" row">
        <div class="d-flex justify-content-center container">
            <div class="row">
                <img src="../../assets/mc1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="row pl-5">
        <div class="col-6">
            <h4>Comidas </h4>
            <ul>
                <li *ngFor="let item of comidas">
                    <h6>{{ item.getNombre() }} <span class="badge bg-secondary">${{ item.getPrecio() }}</span> <span>  -  </span> <button type="button" class="btn btn-success">+</button></h6>
                </li>
            </ul>
        </div>

        <div class="col-6">
            <h4>Bebidas </h4>
            <ul>
                <li *ngFor="let item of bebidas">
                    <h6>{{ item.getNombre() }} <span class="badge bg-secondary">${{ item.getPrecio() }}</span> <span>  -  </span> <button type="button" class="btn btn-success">+</button></h6>
                </li>
            </ul>
        </div>
    </div>

</div>