<div class="container mt-4">
    <div class="d-flex justify-content-center row">
        <h1 class="d-flex justify-content-center">Mc Donald's</h1>
    </div>
    <hr>
    <div class=" row">
        <div class="d-flex justify-content-center container">
            <div class="row">
                <img src="../../assets/mc1.jpg" alt="">
            </div>
        </div>
    </div>

    <form [formGroup]="formularioCantidad" (ngSubmit)="onSubmit()">
        <div class="row pl-5">
            <div class="col-6">
                <h4>Comidas </h4>
                <ul>
                    <li *ngFor="let item of comidas; let i = index">

                        <h6>{{ item.getNombre() }}
                            <span class="badge bg-secondary">${{ item.getPrecio() }}</span>
                            <span>  -  </span>
                            <button *ngIf="!this.comidasInputActivado[i]" (click)="activarInputComidas( i )" type="button" class="btn btn-success">+</button>
                            <button *ngIf="this.comidasInputActivado[i]" (click)="desactivarInputComidas( i )" type="button" class="btn btn-danger">-</button>
                        </h6>

                        <div *ngIf="this.comidasInputActivado[i]" class="input-group mb-3">
                            <span class="input-group-text bg-secondary text-white" id="basic-addon1">+</span>
                            <input [formControlName]="'campo_' + item.getId()"  type="number" class="form-control bg-secondary text-white" onchange="chequearValido(this.value)" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1">
                            <input type="text" class="form-control bg-secondary text-white" placeholder="Observacion" aria-label="Observacion" aria-describedby="basic-addon1">
                            <button id="agregar" (click)="activarInputComidas( i )" type="button" class="btn btn-success">Agregar</button>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="col-6">
                <h4>Bebidas </h4>
                <ul>
                    <li *ngFor="let item of bebidas; let i = index">
                        <h6>{{ item.getNombre() }}
                            <span class="badge bg-secondary">${{ item.getPrecio() }}</span>
                            <span>  -  </span>
                            <button *ngIf="!this.bebidasInputActivado[i]" (click)="activarInputBebidas( i )" type="button" class="btn btn-success">+</button>
                            <button *ngIf="this.bebidasInputActivado[i]" (click)="desactivarInputBebidas( i )" type="button" class="btn btn-danger">-</button>
                        </h6>

                        <div *ngIf="this.bebidasInputActivado[i]" class="input-group mb-3 ">
                            <span class="input-group-text bg-secondary text-white" id="basic-addon1">+</span>
                            <input [formControlName]="'campo_' + item.getId()" type="number" class="form-control bg-secondary text-white" placeholder="Cantidad" aria-label="Cantidad" [(ngModel)]="this.inputCantidadArr[ this.comidas.length - 1 + i ]" aria-describedby="basic-addon1">
                            <button (click)="activarInputBebidas( i )" type="button" class="btn btn-success" [disabled]="!this.cantidadValida( item.getId() )">Agregar</button>
                        </div>

                    </li>
                </ul>
            </div>


        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <button type="submit" class="btn btn-success mb-3 w-100">Comparar carrito</button>
            </div>


        </div>
    </form>

</div>