<div class="container mt-4 bg-dark" data-bs-theme="dark">
    <div class="d-flex justify-content-left row mt-4" data-bs-them="dark">

        <div class="col-8 mt-4">
            <h1>Informacion Adicional</h1>
        </div>
        <hr>
    </div>

    <form [formGroup]="formularioDireccion">
        <div class="row mb-4">
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Ciudad</span>
                    <select class="form-select" formControlName="selectCiudad">
                        <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
                    </select>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Direccion</span>
                        <input type="text" class="form-control" placeholder="Calle" formControlName="calle" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Numero" formControlName="numero" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Referencia" formControlName="referencias" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>


    </form>

    <br>

    <hr>
    <div class="container">
        <div class="row">

            <div class="form-check col-4">
                <input (click)="checkOp()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="efectivo" [(ngModel)]="opcionDePagoSeleccionada">
                <label class="form-check-label" for="flexRadioDefault1">
              Efectivo
            </label>
            </div>
            <div class="form-check col-4">
                <input (click)="checkOp()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="credito" [(ngModel)]="opcionDePagoSeleccionada">
                <label class="form-check-label" for="flexRadioDefault1">
              Credito
            </label>
            </div>
            <div class="form-check col-4">
                <input (click)="checkOp()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="debito" [(ngModel)]="opcionDePagoSeleccionada">
                <label class="form-check-label" for="flexRadioDefault1">
              Debito
            </label>
            </div>

        </div>
    </div>

    <br>
    <br>

    <ng-container *ngComponentOutlet="componenteCargado"></ng-container>

    <br>
    <br>

</div>