<div class="container mt-4 general rounded" data-bs-theme="dark">
    <div class="d-flex justify-content-left row mt-4">

        <div class="col-8 mt-4">
            <h1>Informacion Adicional</h1>
        </div>
        <hr>
    </div>

    <form [formGroup]="formularioDireccion">
        <div class="row mb-4">
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Ciudad</span>
                    <select class="form-select" formControlName="selectCiudad">
                        <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
                    </select>
                    <div *ngIf="this.formularioDireccion.controls['selectCiudad'].errors?.['required'] && this.formularioDireccion.controls['selectCiudad'].touched" class="row">
                        <div class="col-8 text-danger">Debe seleccionar una ciudad.</div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row mb-4">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Direccion</span>
                        <input type="text" class="form-control" placeholder="Calle" formControlName="calle" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Numero" formControlName="numero" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Referencia" formControlName="referencias" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div *ngIf="(this.formularioDireccion.controls['calle'].errors?.['required'] || this.formularioDireccion.controls['numero'].errors?.['required']) && ( this.formularioDireccion.controls['calle'].touched || this.formularioDireccion.controls['numero'].touched)"
                        class="row">
                        <div class="col-8 text-danger">Los campos calle y numero son obligatorios</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6">
                <div class="input-group">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" value="fecha" formControlName="opcionEnvioSeleccionada">
                        <label class="form-check-label" for="flexRadioDefault1" value="fecha">
                          Establecer fecha y hora de envio
                        </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" value="Lo antes posible" formControlName="opcionEnvioSeleccionada">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Enviar lo antes posible
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="formularioDireccion.controls['opcionEnvioSeleccionada'].value == 'fecha'" class="row mb-4">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fecha y Hora</span>
                        <input type="datetime-local" formControlName="fechaHora" class="form-control" placeholder="Calle" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div *ngIf="(this.formularioDireccion.controls['fechaHora'].errors?.['fechaHoraInvalida']) && ( this.formularioDireccion.controls['fechaHora'].touched)" class="row">
                        <div class="col-8 text-danger">Introduzca una fecha y hora validas por favor.</div>
                    </div>
                </div>
            </div>
        </div>

    </form>



    <br>

    <div class="row">
        <div class="col-4">
            <button class="btn btn-success mb-4" [disabled]="!this.formularioDireccion.valid" routerLink="/checkout">Ir a checkout</button>
        </div>

        <div class="col-4">
            <button class="btn btn-success mb-4" routerLink="/carrito">Volver a carrito</button>
        </div>

        <div class="col-4">
            <button class="btn btn-success mb-4" routerLink="/">Volver a realizar pedido</button>
        </div>
    </div>


    <br>


</div>